<section class="upcoming-releases-section">
  <h2>Nadchodzące Premiery</h2>
  <p>Bądź na bieżąco z najnowszymi premierami w Diamond Cinema.</p>
  <!-- <div class="upcoming-grid">
    <div class="upcoming-movie" *ngFor="let movie of upcomingMovies">
      <img [src]="movie.posterUrl" [alt]="'Plakat filmu ' + movie.title">
      <div class="movie-details">
        <h3>{{ movie.title }}</h3>
        <p>{{ movie.releaseDate | date: 'longDate' }}</p>
        <button class="more-btn" (click)="viewMovieDetails(movie.id)">Więcej →</button>
      </div>
    </div>
  </div> -->
</section>
