<section class="upcoming-releases-section">
  <h2>{{ 'UPCOMING_RELEASES_TITLE' | translate }}</h2>
  <p>{{ 'UPCOMING_RELEASES_DESCRIPTION' | translate }}</p>

  <div class="movies-container">
    <div class="upcoming-movie" *ngFor="let movie of upcomingMovies">
      <div class="movie-content">
        <img
          [src]="movie.posterUrl"
          [alt]="'Plakat filmu ' + movie.title"
        />
        <div class="movie-info">
          <h3>{{ movie.title }}</h3>
          <p>{{ 'MOVIE_GENRE' | translate }}: {{ movie.type }}</p>
          <p>{{ 'MOVIE_DURATION' | translate }}: {{ movie.duration }} {{ 'MINUTES' | translate }}</p>
          <p>{{ 'MOVIE_LANGUAGE' | translate }}: {{ movie.language }}</p>
          <p>{{ 'MOVIE_RELEASE_DATE' | translate }}: {{ movie.releaseDate }}</p>
        </div>
      </div>
    </div>
  </div>

  <mat-paginator 
    [length]="totalElements"
    [pageSize]="pageSize"
    [pageIndex]="pageNumber - 1"
    [pageSizeOptions]="[5, 10, 25, 50]"
    [showFirstLastButtons]="true"
    (page)="onPageChange($event)">
  </mat-paginator>
</section>
