<div class="youtube-container">
    <button class="arrow-btn left-arrow" (click)="previousTrailer()">➜</button>
    <youtube-player [videoId]="currentTrailerUrl" loadApi="true"></youtube-player>   
     <button class="arrow-btn right-arrow" (click)="nextTrailer()">➜</button>
</div>

<p class="section-title">U nas na ekranach</p>
<div class="movies-container">
    <div class="movie-item" *ngFor="let movie of movies">
        <img [src]="movie.posterUrl" [alt]="'Plakat filmu ' + movie.title" [routerLink]="['/movie-details', movie.title]" routerLinkActive="true" style="cursor: pointer;">
        <p class="movie-title">{{ movie.title }}</p>
    </div>
</div>
