<section class="ticket-pricing-section">
  <h2>{{ 'TICKET_PRICING_TITLE' | translate }}</h2>
  <p>{{ 'TICKET_PRICING_INFO' | translate }}</p>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">{{ 'TICKET_TYPE' | translate }}</th>
        <th scope="col">{{ 'MONDAY' | translate }}</th>
        <th scope="col">{{ 'TUESDAY' | translate }}</th>
        <th scope="col">{{ 'WEDNESDAY' | translate }}</th>
        <th scope="col">{{ 'THURSDAY' | translate }}</th>
        <th scope="col">{{ 'FRIDAY_SUNDAY' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">{{ 'REGULAR' | translate }}</th>
        <td>16</td>
        <td>24</td>
        <td>19</td>
        <td>26</td>
        <td>30</td>
      </tr>
      <tr>
        <th scope="row">{{ 'DISCOUNTED' | translate }}</th>
        <td>16</td>
        <td>24</td>
        <td>19</td>
        <td>24</td>
        <td>28</td>
      </tr>
      <tr>
        <th scope="row">{{ 'SENIOR' | translate }}</th>
        <td>16</td>
        <td>16</td>
        <td>16</td>
        <td>16</td>
        <td>26</td>
      </tr>
    </tbody>
  </table>

  <p>{{ 'DISCOUNT_INFO' | translate }}</p>
  <p>{{ 'SENIOR_INFO' | translate }}</p>

  <p>{{ 'PROMOTIONS_TITLE' | translate }}</p>
  <ul>
    <li>{{ 'PROMOTION_MONDAY' | translate }}</li>
    <li>{{ 'PROMOTION_WEDNESDAY' | translate }}</li>
  </ul>

  <p>{{ 'REFUND_POLICY' | translate }}</p>
</section>
