<div class="progress-bar">
  <table class="progress-table">
    <tr>
      <td class="step" [ngClass]="{ active: currentStep === 1 }">
        <span class="step-number">1</span>
        <span class="step-label">Wybór miejsc</span>
      </td>
      <td class="step" [ngClass]="{ active: currentStep === 2 }">
        <span class="step-number">2</span>
        <span class="step-label">Wybór biletów</span>
      </td>
      <td class="step" [ngClass]="{ active: currentStep === 3 }">
        <span class="step-number">3</span>
        <span class="step-label">Zamówienie</span>
      </td>
    </tr>
  </table>
</div>

<div class="show-info">
  <img
    class="movie-poster"
    [src]="moviePosterUrl"
    [alt]="'Plakat filmu ' + movieTitle"
  />
  <div class="movie-info-text">
    <span class="movie-title">{{ movieTitle }}</span>
    <div class="movie-info-details">
      <span>
        {{ cityName }} | {{ showTime | date: 'd.MM.YYYY' }} |
        {{ showTime | date: 'HH:mm' }} | Sala {{ hallNumber }} |
        {{ selectedDay }}
      </span>
    </div>
  </div>
</div>

<div class="ticket-selection-container">
  <h1>WYBIERZ BILETY</h1>

  <div class="ticket-info" *ngIf="ticketPrices.length > 0; else loading">
    <ul class="ticket-details">
      <ng-container *ngFor="let entry of seatsSelected | keyvalue">
        <li *ngFor="let seat of entry.value">
          Rząd: {{ entry.key }}, Miejsce: {{ seat }}
          <mat-form-field appearance="fill" class="custom-width">
            <mat-label>Rodzaj biletu</mat-label>
            <mat-select
              class="small-select"
              [(ngModel)]="ticketTypeSelection[entry.key + '-' + seat]"
              required
            >
              <mat-option
                *ngFor="let type of ticketTypes"
                [value]="type"
              >
                {{ type | titlecase }} ({{ getTicketPrice(type) | number: '1.2-2' }} zł)
              </mat-option>
            </mat-select>
            <mat-error *ngIf="!ticketTypeSelection[entry.key + '-' + seat]">
              Wybierz rodzaj biletu
            </mat-error>
          </mat-form-field>
        </li>
      </ng-container>
    </ul>
  </div>
  <ng-template #loading>
    <p>Ładowanie cen biletów...</p>
  </ng-template>

  <hr />

  <div class="price-summary">
    <p>Liczba biletów: <strong>{{ getTotalTickets() }}</strong></p>
    <p>
      Razem:
      <strong>{{ calculateTotalPrice() | number: '1.2-2' }} zł</strong>
    </p>
    <p>
      w tym opłata serwisowa:
      <strong>{{ serviceFee | number: '1.2-2' }} zł</strong>
    </p>
  </div>

  <div class="button-container">
    <button
      class="next-btn"
      [disabled]="!allTicketTypesSelected()"
    (click)="reserveSeats()">
      DALEJ<br /><span>{{ getTotalTickets() }} bilet(y) - {{ calculateTotalPrice() | number: '1.2-2' }} zł</span>
    </button>
    <button class="back-btn">WRÓĆ</button>
  </div>
</div>