<div class="cinema-room">
  <div class="screen"></div>
  <div *ngFor="let rowIndex of getTotalRows()" class="row">
    <div class="row-label">{{ rowIndex + 1 }}</div>
    <div class="seat-wrapper">
      <div *ngFor="let seat of seats.slice(rowIndex * 10, rowIndex * 10 + 10); let i = index" class="seat" [ngClass]="{ occupied: seat.occupied, selected: seat.selected }" (click)="seat.occupied ? null : selectSeat(rowIndex * 10 + i)">
        <mat-icon>event_seat</mat-icon>
        <span class="seat-number">{{ i + 1 }}</span>
      </div>
    </div>
  </div>
</div>
