.cinema-room {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f0f0f0;
  
}

.screen {
  width: 45%;
  height: 30px;
  background: linear-gradient(to bottom, #ccc, #777);
  border-radius: 15px 15px 0 0;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-bottom: 20px;
  color: black;
}

.row {
  display: flex;
  align-items: center;
  margin-bottom: 5px; 
}

.row-label {
  width: 30px;
  text-align: center;
  font-weight: bold;
  margin-left: -3%;
  display: flex;
}

.seat-wrapper {
  display: flex;
  gap: 5px; 
}

.seat {
  width: 40px; 
  height: 40px; 
  background-color: #4CAF50;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.seat:hover {
  background-color: #45a049;
}

.seat.occupied {
  background-color: #d9534f;
  cursor: not-allowed;
}

.seat.selected {
  background-color: black;
}

.seat-number {
  position: absolute;
  bottom: 3px; 
  right: 3px;
  font-size: 0.7em; 
  color: white;
}

.buy-tickets-button-wrapper {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.buy-tickets-button {
  background-color: #d4af37;
  color: white;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  font-size: 1.1em;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buy-tickets-button:hover {
  background-color: #d4af37;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.buy-tickets-button:active {
  background-color: #d4af37;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  transform: scale(0.98);
}

.main-text {
  font-size: 1.4em;
  margin-bottom: 5px;
}

.sub-text {
  font-size: 0.8em;
}
.progress-bar {
  display: flex;
  justify-content: space-around;
  background-color: #000;
  padding: 8px 0;
  border-bottom: 3px solid #d4af37;
}

.step {
  text-align: center;
  color: #fff;
}


.step-number {
  font-size: 1.2em;
  display: block;
  margin-bottom: 2px; 
}

.step.active .step-number,
.step.active .step-label {
  color: #d4af37; 
}

.show-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  max-width: 100%;
  padding: 15px;
  margin: 20px 0;
  background-color: #d4af37;
  color: black;
  font-weight: bold;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  gap: 20px;
}

.movie-info-text {
  display: flex;
  flex-direction: column;
}

.movie-title {
  font-size: 1.5em;
  color: black;
  margin-bottom: 10px;
}

.movie-info-details {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 1em;
}


.movie-poster {
  width: 60px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
  .show-info {
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
  }

  .movie-poster {
    width: 80px;
  }
}