<div class="progress-bar">
  <table class="progress-table">
    <tr>
      <td class="step" [ngClass]="{ active: currentStep === 1 }">
        <span class="step-number">1</span>
        <span class="step-label">{{ 'STEP_SELECTION' | translate }}</span>
      </td>
      <td class="step" [ngClass]="{ active: currentStep === 2 }">
        <span class="step-number">2</span>
        <span class="step-label">{{ 'STEP_TICKETS' | translate }}</span>
      </td>
      <td class="step" [ngClass]="{ active: currentStep === 3 }">
        <span class="step-number">3</span>
        <span class="step-label">{{ 'STEP_ORDER' | translate }}</span>
      </td>
    </tr>
  </table>
</div>

<div class="show-info">
  <img class="movie-poster" [src]="moviePosterUrl" [alt]="'Plakat filmu ' + movieTitle" />
  <div class="movie-info-text">
    <span class="movie-title">{{movieTitle}}</span>
    <div class="movie-info-details">
      <span>{{cityName | translate}} | {{showTime | date : 'd.MM.YYYY'}} | {{showTime | date : 'HH:mm'}} | {{ 'SCREEN_LABEL' | translate }} {{hallNumber}} | {{selectedDay | translate}}</span>
    </div>
  </div>
</div>

<div class="cinema-room">
  <div class="screen">{{ 'SCREEN_LABEL' | translate }}</div>
  <div *ngFor="let rowIndex of getTotalRows()" class="row">
    <div class="row-label">{{ rowIndex + 1 }}</div>
    <div class="seat-wrapper">
      <div *ngFor="let seat of seats.slice(rowIndex * 10, rowIndex * 10 + 10); let i = index" 
           class="seat" 
           [ngClass]="{ occupied: seat.occupied, selected: seat.selected }" 
           (click)="seat.occupied ? null : selectSeat(rowIndex * 10 + i)">
        <mat-icon>event_seat</mat-icon>
        <span class="seat-number">{{ i + 1 }}</span>
      </div>
    </div>
  </div>
</div>

<div class="buy-tickets-button-wrapper" *ngIf="countSeatsReservation.length > 0">
  <button (click)="buyTickets()" class="buy-tickets-button">
    <div class="main-text">{{ 'BUY_TICKETS' | translate }}</div>
    <div class="sub-text">{{ 'SELECTED_SEATS_COUNT' | translate }}: {{ countSeatsReservation.length }}</div>
  </button>
</div>
