<div class="main-content page-m">
  <div class="section-content section-content-p30">
    <div class="container-fluid">
      <form *ngIf="checkoutFormGroup" [formGroup]="checkoutFormGroup" (ngSubmit)="onSubmit()">
        <div formGroupName="customer" class="form-area">
          <h3>{{ 'CUSTOMER_DETAILS' | translate }}</h3>

          <div class="row">
            <div class="col-md-2"><label>{{ 'FIRST_NAME_LABEL' | translate }}</label></div>
            <div class="col-md-9">
              <input formControlName="firstName" type="text" class="form-control">
              <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="alert alert-danger mt-1">
                <div *ngIf="firstName?.errors?.['required']">{{ 'REQUIRED_ERROR' | translate }}</div>
                <div *ngIf="firstName?.errors?.['minlength']">{{ 'FIRST_NAME_MINLENGTH_ERROR' | translate }}</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>{{ 'LAST_NAME_LABEL' | translate }}</label></div>
            <div class="col-md-9">
              <input formControlName="lastName" type="text" class="form-control">
              <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="alert alert-danger mt-1">
                <div *ngIf="lastName?.errors?.['required']">{{ 'REQUIRED_ERROR' | translate }}</div>
                <div *ngIf="lastName?.errors?.['minlength']">{{ 'LAST_NAME_MINLENGTH_ERROR' | translate }}</div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-2"><label>{{ 'EMAIL_LABEL' | translate }}</label></div>
            <div class="col-md-9">
              <input formControlName="email" type="email" class="form-control">
              <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert alert-danger mt-1">
                <div *ngIf="email?.errors?.['required']">{{ 'REQUIRED_ERROR' | translate }}</div>
                <div *ngIf="email?.errors?.['pattern']">{{ 'EMAIL_PATTERN_ERROR' | translate }}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="form-area">
          <h3>{{ 'CREDIT_CARD' | translate }}</h3>
          <div id="card-element">
          </div>
        </div>

        <div class="form-area">
          <h3>{{ 'ORDER' | translate }}</h3>
          <p>{{ 'TOTAL_AMOUNT' | translate }}: {{ totalPrice | currency: 'PLN' }}</p>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-info" [disabled]="checkoutFormGroup.invalid || isDisabled">{{ 'PAY' | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>
