<section class="repertoire-section">
    <h2>REPERTUAR</h2>
    <div class="days-of-week">
        <span class="day" *ngFor="let day of rotatedWeekDays; let i = index" [ngClass]="{'selected-day': day === selectedDay, 'today': i === 0}">{{ day }}</span>
    </div>

    <p class="date">{{ today }}</p>
    <ul class="movies">
        <li *ngFor="let movie of movies">
            <img src={{movie.posterUrl}} [alt]="'Plakat filmu ' + movie.title">
            <div>
                <p class="movie-title">{{ movie.title }}</p>
                <div class="movie-info">
                    <p><strong>Gatunek:</strong> {{ movie.type }}</p>
                    <p><strong>Czas trwania:</strong> {{ movie.duration }} min</p>
                    <p><strong>Język:</strong> {{ movie.language }}</p>
                    <p><strong>Format:</strong> {{ movie.format }}</p>
                </div>
                <div class="showtimes">
                    <!-- Tutaj wstawiłem przykładowe godziny seansów, możesz dodać logikę, aby pobierać dynamicznie czasy seansów -->
                    <button class="showtime-btn" *ngFor="let time of ['10:30', '13:30', '16:30', '19:30']">{{ time }}</button>
                </div>
            </div>
        </li>
    </ul>
</section>