<section class="repertoire-section">
  <h2>{{ 'REPERTOIRE_TITLE' | translate }}</h2>

  <mat-form-field *ngIf="cities && cities.length > 0" appearance="outline">
    <mat-label style="color: white">{{ 'SELECT_CINEMA_LABEL' | translate }}</mat-label>
    <mat-select
      style="color: white"
      [(value)]="selectedCity"
      (selectionChange)="listMoviesWithCityParam(selectedCity, selectedDay)"
    >
      <mat-option *ngFor="let city of cities" [value]="city">{{ city }}</mat-option>
    </mat-select>
  </mat-form-field>

  <div *ngIf="selectedCity">
    <div class="days-of-week">
      <span
        class="day"
        *ngFor="let day of rotatedWeekDays; let i = index"
        [ngClass]="{ 'selected-day': day === selectedDay, today: i === 0 }"
        (click)="selectDay(day)"
      >
        {{ day }}
      </span>
    </div> 

    <p class="date">{{ today }}</p>

    <ul class="movies">
      <li *ngFor="let grouped of groupedMovies">
        <img
          [src]="grouped.movie.posterUrl"
          [alt]="'Plakat filmu ' + grouped.movie.title"
        />
        <div class="movie-info">
          <p class="movie-title">{{ grouped.movie.title }}</p>
          <div class="movie-info">
            <p><strong>{{ 'GENRE' | translate }}:</strong> {{ grouped.movie.type }}</p>
            <p><strong>{{ 'DURATION' | translate }}:</strong> {{ grouped.movie.duration }} {{ 'MINUTES' | translate }}</p>
            <p><strong>{{ 'LANGUAGE' | translate }}:</strong> {{ grouped.movie.language }}</p>
            <p><strong>{{ 'FORMAT' | translate }}:</strong> {{ grouped.movie.format }}</p>
          </div>
          <div class="showtimes">
            <button
              class="showtime-btn"
              *ngFor="let time of grouped.times; let i = index"
              (click)="navigateToSeatsSelection(grouped.showIds[i], grouped.movie.title, selectedCity, time)">
              {{ time | date : "HH:mm" }}
            </button>
          </div>
        </div>
      </li>
    </ul>
  </div>
</section>
