
<section class="movie-details-section">
    <h2>{{ movie[0]?.title }}</h2>
    <div class="details-container" *ngFor="let detail of movie">
        <div class="detail-item">
            <img [src]="detail.posterUrl" [alt]="'Plakat filmu ' + detail.title">
        </div>
        <div class="detail-item">
            <p><strong>Opis:</strong> {{ detail.description }}</p>
            <p><strong>Gatunek Filmowy:</strong> {{detail.type}}</p>
            <p><strong>Reżyser:</strong> {{ detail.director }}</p>
            <p><strong>Czas trwania:</strong> {{ detail.duration }} minut</p>
            <p><strong>Język:</strong> {{ detail.language }}</p>
            <p><strong>Format:</strong> {{ detail.format }}</p>
            <p><strong>Ograniczenia wiekowe:</strong> {{ detail.ageRestriction }}+</p>
        </div>
    </div>
</section>